
.pacto-body-row {
    display: flex;
    position: relative;
}

pacto-plataforma-local-navigation {
    position: absolute;
    left: 0px;
}

.pacto-content-wrapper-aux:not(.fullscreen) {
    flex-grow: 1;
    height: calc(100vh - 95px);
    background-color: #eff2f7;
    justify-content: center;
    display: flex;
}
    
.pacto-content-wrapper {
    width: calc(100vw - 460px);
    max-width: 1230px;

    &.fullscreen {
        width: calc(100vw - 2px);
        max-width: initial;
    }
}

@media (max-width: 1440px) {
    .pacto-content-wrapper {
        width: calc(100vw - 260px);
    }
}
