@font-face {
  font-family: 'Pacto-Icon-Font';
  src:  url('fonts/Pacto-Icon-Font.eot?r44ucf');
  src:  url('fonts/Pacto-Icon-Font.eot?r44ucf#iefix') format('embedded-opentype'),
    url('fonts/Pacto-Icon-Font.ttf?r44ucf') format('truetype'),
    url('fonts/Pacto-Icon-Font.woff?r44ucf') format('woff'),
    url('fonts/Pacto-Icon-Font.svg?r44ucf#Pacto-Icon-Font') format('svg');
  font-weight: normal;
  font-style: normal;
}

i.pct {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Pacto-Icon-Font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pct-activity:before {
  content: "\e900";
}
.pct-airplay:before {
  content: "\e901";
}
.pct-alert-circle:before {
  content: "\e902";
}
.pct-alert-octagon:before {
  content: "\e903";
}
.pct-alert-triangle:before {
  content: "\e904";
}
.pct-align-center:before {
  content: "\e905";
}
.pct-align-justify:before {
  content: "\e906";
}
.pct-align-left:before {
  content: "\e907";
}
.pct-align-right:before {
  content: "\e908";
}
.pct-anchor:before {
  content: "\e909";
}
.pct-aperture:before {
  content: "\e90a";
}
.pct-archive:before {
  content: "\e90b";
}
.pct-arrow-down:before {
  content: "\e90c";
}
.pct-arrow-down-circle:before {
  content: "\e90d";
}
.pct-arrow-down-left:before {
  content: "\e90e";
}
.pct-arrow-down-right:before {
  content: "\e90f";
}
.pct-arrow-left:before {
  content: "\e910";
}
.pct-arrow-left-circle:before {
  content: "\e911";
}
.pct-arrow-right:before {
  content: "\e912";
}
.pct-arrow-right-circle:before {
  content: "\e913";
}
.pct-arrow-up:before {
  content: "\e914";
}
.pct-arrow-up-circle:before {
  content: "\e915";
}
.pct-arrow-up-left:before {
  content: "\e916";
}
.pct-arrow-up-right:before {
  content: "\e917";
}
.pct-at-sign:before {
  content: "\e918";
}
.pct-award:before {
  content: "\e919";
}
.pct-bar-chart:before {
  content: "\e91a";
}
.pct-bar-chart-2:before {
  content: "\e91b";
}
.pct-battery:before {
  content: "\e91c";
}
.pct-battery-charging:before {
  content: "\e91d";
}
.pct-bell:before {
  content: "\e91e";
}
.pct-bell-off:before {
  content: "\e91f";
}
.pct-bluetooth:before {
  content: "\e920";
}
.pct-bold:before {
  content: "\e921";
}
.pct-book:before {
  content: "\e922";
}
.pct-book-open:before {
  content: "\e923";
}
.pct-bookmark:before {
  content: "\e924";
}
.pct-box:before {
  content: "\e925";
}
.pct-briefcase:before {
  content: "\e926";
}
.pct-calendar:before {
  content: "\e927";
}
.pct-camera:before {
  content: "\e928";
}
.pct-camera-off:before {
  content: "\e929";
}
.pct-cast:before {
  content: "\e92a";
}
.pct-check:before {
  content: "\e92b";
}
.pct-check-circle:before {
  content: "\e92c";
}
.pct-check-square:before {
  content: "\e92d";
}
.pct-chevron-down:before {
  content: "\e92e";
}
.pct-chevron-left:before {
  content: "\e92f";
}
.pct-chevron-right:before {
  content: "\e930";
}
.pct-chevron-up:before {
  content: "\e931";
}
.pct-chevrons-down:before {
  content: "\e932";
}
.pct-chevrons-left:before {
  content: "\e933";
}
.pct-chevrons-right:before {
  content: "\e934";
}
.pct-chevrons-up:before {
  content: "\e935";
}
.pct-chrome:before {
  content: "\e936";
}
.pct-circle:before {
  content: "\e937";
}
.pct-clipboard:before {
  content: "\e938";
}
.pct-clock:before {
  content: "\e939";
}
.pct-cloud:before {
  content: "\e93a";
}
.pct-cloud-drizzle:before {
  content: "\e93b";
}
.pct-cloud-lightning:before {
  content: "\e93c";
}
.pct-cloud-off:before {
  content: "\e93d";
}
.pct-cloud-rain:before {
  content: "\e93e";
}
.pct-cloud-snow:before {
  content: "\e93f";
}
.pct-code:before {
  content: "\e940";
}
.pct-codepen:before {
  content: "\e941";
}
.pct-coffee:before {
  content: "\e942";
}
.pct-command:before {
  content: "\e943";
}
.pct-compass:before {
  content: "\e944";
}
.pct-copy:before {
  content: "\e945";
}
.pct-corner-down-left:before {
  content: "\e946";
}
.pct-corner-down-right:before {
  content: "\e947";
}
.pct-corner-left-down:before {
  content: "\e948";
}
.pct-corner-left-up:before {
  content: "\e949";
}
.pct-corner-right-down:before {
  content: "\e94a";
}
.pct-corner-right-up:before {
  content: "\e94b";
}
.pct-corner-up-left:before {
  content: "\e94c";
}
.pct-corner-up-right:before {
  content: "\e94d";
}
.pct-cpu:before {
  content: "\e94e";
}
.pct-credit-card:before {
  content: "\e94f";
}
.pct-crop:before {
  content: "\e950";
}
.pct-crosshair:before {
  content: "\e951";
}
.pct-database:before {
  content: "\e952";
}
.pct-delete:before {
  content: "\e953";
}
.pct-disc:before {
  content: "\e954";
}
.pct-dollar-sign:before {
  content: "\e955";
}
.pct-download:before {
  content: "\e956";
}
.pct-download-cloud:before {
  content: "\e957";
}
.pct-droplet:before {
  content: "\e958";
}
.pct-edit:before {
  content: "\e959";
}
.pct-edit-2:before {
  content: "\e95a";
}
.pct-edit-3:before {
  content: "\e95b";
}
.pct-external-link:before {
  content: "\e95c";
}
.pct-eye:before {
  content: "\e95d";
}
.pct-eye-off:before {
  content: "\e95e";
}
.pct-facebook:before {
  content: "\e95f";
}
.pct-fast-forward:before {
  content: "\e960";
}
.pct-feather:before {
  content: "\e961";
}
.pct-figma:before {
  content: "\e962";
}
.pct-file:before {
  content: "\e963";
}
.pct-file-minus:before {
  content: "\e964";
}
.pct-file-plus:before {
  content: "\e965";
}
.pct-file-text:before {
  content: "\e966";
}
.pct-film:before {
  content: "\e967";
}
.pct-filter:before {
  content: "\e968";
}
.pct-flag:before {
  content: "\e969";
}
.pct-folder:before {
  content: "\e96a";
}
.pct-folder-minus:before {
  content: "\e96b";
}
.pct-folder-plus:before {
  content: "\e96c";
}
.pct-frown:before {
  content: "\e96d";
}
.pct-gift:before {
  content: "\e96e";
}
.pct-git-branch:before {
  content: "\e96f";
}
.pct-git-commit:before {
  content: "\e970";
}
.pct-git-merge:before {
  content: "\e971";
}
.pct-git-pull-request:before {
  content: "\e972";
}
.pct-github:before {
  content: "\e973";
}
.pct-gitlab:before {
  content: "\e974";
}
.pct-globe:before {
  content: "\e975";
}
.pct-grid:before {
  content: "\e976";
}
.pct-hard-drive:before {
  content: "\e977";
}
.pct-hash:before {
  content: "\e978";
}
.pct-headphones:before {
  content: "\e979";
}
.pct-heart:before {
  content: "\e97a";
}
.pct-help-circle:before {
  content: "\e97b";
}
.pct-home:before {
  content: "\e97c";
}
.pct-image:before {
  content: "\e97d";
}
.pct-inbox:before {
  content: "\e97e";
}
.pct-info:before {
  content: "\e97f";
}
.pct-instagram:before {
  content: "\e980";
}
.pct-italic:before {
  content: "\e981";
}
.pct-key:before {
  content: "\e982";
}
.pct-layers:before {
  content: "\e983";
}
.pct-layout:before {
  content: "\e984";
}
.pct-life-buoy:before {
  content: "\e985";
}
.pct-link:before {
  content: "\e986";
}
.pct-link-2:before {
  content: "\e987";
}
.pct-linkedin:before {
  content: "\e988";
}
.pct-list:before {
  content: "\e989";
}
.pct-loader:before {
  content: "\e98a";
}
.pct-lock:before {
  content: "\e98b";
}
.pct-log-in:before {
  content: "\e98c";
}
.pct-log-out:before {
  content: "\e98d";
}
.pct-mail:before {
  content: "\e98e";
}
.pct-map:before {
  content: "\e98f";
}
.pct-map-pin:before {
  content: "\e990";
}
.pct-maximize:before {
  content: "\e991";
}
.pct-maximize-2:before {
  content: "\e992";
}
.pct-meh:before {
  content: "\e993";
}
.pct-menu:before {
  content: "\e994";
}
.pct-message-circle:before {
  content: "\e995";
}
.pct-message-square:before {
  content: "\e996";
}
.pct-mic:before {
  content: "\e997";
}
.pct-mic-off:before {
  content: "\e998";
}
.pct-minimize:before {
  content: "\e999";
}
.pct-minimize-2:before {
  content: "\e99a";
}
.pct-minus:before {
  content: "\e99b";
}
.pct-minus-circle:before {
  content: "\e99c";
}
.pct-minus-square:before {
  content: "\e99d";
}
.pct-monitor:before {
  content: "\e99e";
}
.pct-moon:before {
  content: "\e99f";
}
.pct-more-horizontal:before {
  content: "\e9a0";
}
.pct-more-vertical:before {
  content: "\e9a1";
}
.pct-mouse-pointer:before {
  content: "\e9a2";
}
.pct-move:before {
  content: "\e9a3";
}
.pct-music:before {
  content: "\e9a4";
}
.pct-navigation:before {
  content: "\e9a5";
}
.pct-navigation-2:before {
  content: "\e9a6";
}
.pct-octagon:before {
  content: "\e9a7";
}
.pct-package:before {
  content: "\e9a8";
}
.pct-paperclip:before {
  content: "\e9a9";
}
.pct-pause:before {
  content: "\e9aa";
}
.pct-pause-circle:before {
  content: "\e9ab";
}
.pct-pen-tool:before {
  content: "\e9ac";
}
.pct-percent:before {
  content: "\e9ad";
}
.pct-phone:before {
  content: "\e9ae";
}
.pct-phone-call:before {
  content: "\e9af";
}
.pct-phone-forwarded:before {
  content: "\e9b0";
}
.pct-phone-incoming:before {
  content: "\e9b1";
}
.pct-phone-missed:before {
  content: "\e9b2";
}
.pct-phone-off:before {
  content: "\e9b3";
}
.pct-phone-outgoing:before {
  content: "\e9b4";
}
.pct-pie-chart:before {
  content: "\e9b5";
}
.pct-play:before {
  content: "\e9b6";
}
.pct-play-circle:before {
  content: "\e9b7";
}
.pct-plus:before {
  content: "\e9b8";
}
.pct-plus-circle:before {
  content: "\e9b9";
}
.pct-plus-square:before {
  content: "\e9ba";
}
.pct-pocket:before {
  content: "\e9bb";
}
.pct-power:before {
  content: "\e9bc";
}
.pct-printer:before {
  content: "\e9bd";
}
.pct-radio:before {
  content: "\e9be";
}
.pct-refresh-ccw:before {
  content: "\e9bf";
}
.pct-refresh-cw:before {
  content: "\e9c0";
}
.pct-repeat:before {
  content: "\e9c1";
}
.pct-rewind:before {
  content: "\e9c2";
}
.pct-rotate-ccw:before {
  content: "\e9c3";
}
.pct-rotate-cw:before {
  content: "\e9c4";
}
.pct-rss:before {
  content: "\e9c5";
}
.pct-save:before {
  content: "\e9c6";
}
.pct-scissors:before {
  content: "\e9c7";
}
.pct-search:before {
  content: "\e9c8";
}
.pct-send:before {
  content: "\e9c9";
}
.pct-server:before {
  content: "\e9ca";
}
.pct-settings:before {
  content: "\e9cb";
}
.pct-share:before {
  content: "\e9cc";
}
.pct-share-2:before {
  content: "\e9cd";
}
.pct-shield:before {
  content: "\e9ce";
}
.pct-shield-off:before {
  content: "\e9cf";
}
.pct-shopping-bag:before {
  content: "\e9d0";
}
.pct-shopping-cart:before {
  content: "\e9d1";
}
.pct-shuffle:before {
  content: "\e9d2";
}
.pct-sidebar:before {
  content: "\e9d3";
}
.pct-skip-back:before {
  content: "\e9d4";
}
.pct-skip-forward:before {
  content: "\e9d5";
}
.pct-slack:before {
  content: "\e9d6";
}
.pct-slash:before {
  content: "\e9d7";
}
.pct-sliders:before {
  content: "\e9d8";
}
.pct-smartphone:before {
  content: "\e9d9";
}
.pct-smile:before {
  content: "\e9da";
}
.pct-speaker:before {
  content: "\e9db";
}
.pct-square:before {
  content: "\e9dc";
}
.pct-star:before {
  content: "\e9dd";
}
.pct-stop-circle:before {
  content: "\e9de";
}
.pct-sun:before {
  content: "\e9df";
}
.pct-sunrise:before {
  content: "\e9e0";
}
.pct-sunset:before {
  content: "\e9e1";
}
.pct-tablet:before {
  content: "\e9e2";
}
.pct-tag:before {
  content: "\e9e3";
}
.pct-target:before {
  content: "\e9e4";
}
.pct-terminal:before {
  content: "\e9e5";
}
.pct-thermometer:before {
  content: "\e9e6";
}
.pct-thumbs-down:before {
  content: "\e9e7";
}
.pct-thumbs-up:before {
  content: "\e9e8";
}
.pct-toggle-left:before {
  content: "\e9e9";
}
.pct-toggle-right:before {
  content: "\e9ea";
}
.pct-trash:before {
  content: "\e9eb";
}
.pct-trash-2:before {
  content: "\e9ec";
}
.pct-trello:before {
  content: "\e9ed";
}
.pct-trending-down:before {
  content: "\e9ee";
}
.pct-trending-up:before {
  content: "\e9ef";
}
.pct-triangle:before {
  content: "\e9f0";
}
.pct-truck:before {
  content: "\e9f1";
}
.pct-tv:before {
  content: "\e9f2";
}
.pct-twitter:before {
  content: "\e9f3";
}
.pct-type:before {
  content: "\e9f4";
}
.pct-umbrella:before {
  content: "\e9f5";
}
.pct-underline:before {
  content: "\e9f6";
}
.pct-unlock:before {
  content: "\e9f7";
}
.pct-upload:before {
  content: "\e9f8";
}
.pct-upload-cloud:before {
  content: "\e9f9";
}
.pct-user:before {
  content: "\e9fa";
}
.pct-user-check:before {
  content: "\e9fb";
}
.pct-user-minus:before {
  content: "\e9fc";
}
.pct-user-plus:before {
  content: "\e9fd";
}
.pct-user-x:before {
  content: "\e9fe";
}
.pct-users:before {
  content: "\e9ff";
}
.pct-video:before {
  content: "\ea00";
}
.pct-video-off:before {
  content: "\ea01";
}
.pct-voicemail:before {
  content: "\ea02";
}
.pct-volume:before {
  content: "\ea03";
}
.pct-volume-1:before {
  content: "\ea04";
}
.pct-volume-2:before {
  content: "\ea05";
}
.pct-volume-x:before {
  content: "\ea06";
}
.pct-watch:before {
  content: "\ea07";
}
.pct-wifi:before {
  content: "\ea08";
}
.pct-wifi-off:before {
  content: "\ea09";
}
.pct-wind:before {
  content: "\ea0a";
}
.pct-x:before {
  content: "\ea0b";
}
.pct-x-circle:before {
  content: "\ea0c";
}
.pct-x-octagon:before {
  content: "\ea0d";
}
.pct-x-square:before {
  content: "\ea0e";
}
.pct-youtube:before {
  content: "\ea0f";
}
.pct-zap:before {
  content: "\ea10";
}
.pct-zap-off:before {
  content: "\ea11";
}
.pct-zoom-in:before {
  content: "\ea12";
}
.pct-zoom-out:before {
  content: "\ea13";
}
