

.type-hero-bold {
    font-family: Europa;
    font-size: 56px;
    font-weight: bold;
}

.type-hero {
    font-family: Europa;
    font-size: 56px;
    font-weight: normal;
}

.type-h1-bold {
    font-family: Europa;
    font-weight: bold;
    font-size: 40px;
}

.type-h1 {
    font-family: Europa;
    font-size: 40px;
    font-weight: normal;
}

.type-h2-bold {
    font-family: Europa;
    font-weight: bold;
    font-size: 32px;
}

.type-h2 {
    font-family: Europa;
    font-size: 32px;
    font-weight: normal;
}

.type-h3-bold {
    font-family: Europa;
    font-weight: bold;
    font-size: 28px;
}

.type-h3 {
    font-family: Europa;
    font-size: 28px;
    font-weight: normal;
}

.type-h4-bold {
    font-family: Europa;
    font-weight: bold;
    font-size: 24px;
}

.type-h4 {
    font-family: Europa;
    font-size: 24px;
    font-weight: normal;
}

.type-h5-bold {
    font-family: Europa;
    font-weight: bold;
    font-size: 20px;
}

.type-h5 {
    font-family: Europa;
    font-size: 20px;
    font-weight: normal;
}

.type-h6-bold {
    font-family: Europa;
    font-size: 16px;
    font-weight: bold;
}

.type-h6 {
    font-family: Europa;
    font-size: 16px;
    font-weight: normal;
}

.type-p-rounded {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.type-p-small-rounded {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.type-p-small {
    font-family: Europa;
    font-weight: normal;
    font-size: 15px;
}

.type-btn-bold {
    font-family: Europa;
    font-weight: bold;
    font-size: 12px;
}

.type-caption-rounded {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 500;
    font-size: 12px;
}

.type-caption {
    font-family: Europa;
    font-weight: normal;
    font-size: 12px;
}

.type-btn-small-bold {
    font-family: Europa;
    font-weight: bold;
    font-size: 10px;
}

.type-overline {
    font-family: Europa;
    font-weight: normal;    
    font-size: 10px;
}

.type-overline-rounded {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
    font-size: 10px;
}

.type-btn-mini-bold {
    font-family: Europa;
    font-weight: bold;
    font-size: 8px;
}



