
$branco: #ffffff;

$preto01: #52585E;
$preto02: #3E464D;
$pretoPri: #2C343B;
$preto04: #273036;
$preto05: #252B31;

$azulPacto01: #446381;
$azulPacto02: #2F5373;
$azulPactoPri: #1B4166;
$azulPacto04: #193B5E;
$azulPacto05: #163754;

$canetaBic01: #659CC2;
$canetaBic02: #5491BB;
$canetaBicPri: #4387B5;
$canetaBic04: #3D7BA5;
$canetaBic05: #366F95;

$piscininha01: #90D6FE;
$piscininha02: #84D1FE;
$piscininhaPri: #78CDFF;
$piscininha04: #6EBBE8;
$piscininha05: #64A8D1;

$azulim01: #42AAFC;
$azulim02: #2CA1FC;
$azulimPri: #1998FC;
$azulim04: #178BE6;
$azulim05: #167DCE;

$cinzaClaroPri: #EFF2F7;
$cinzaClaro02: #DADBE1;
$cinzaClaro03: #C3C7CA;
$cinzaClaro04: #AEB0B4;
$cinzaClaro05: #999B9E;

$cinzaPri: #ECF0F1;
$cinza02: #D6DADC;
$cinza03: #C1C5C6;
$cinza04: #ABAFB0;
$cinza05: #96999A;

$geloPri: #E5E9F2;
$gelo02: #D1D4DC;
$gelo03: #BCBFC7;
$gelo04: #A6AAB1;
$gelo05: #92959B;

$verdinho01: #9FEC75;
$verdinho02: #93E964;
$verdinhoPri: #7BE542;
$verdinho04: #70D13C;
$verdinho05: #65BC36;

$chuchuzinho01: #3FA070;
$chuchuzinho02: #2A9660;
$chuchuzinhoPri: #158C51; 
$chuchuzinho04: #14804A;
$chuchuzinho05: #137343;

$pequizao01: #F2C54B;
$pequizao02: #F1BF36;
$pequizaoPri: #F0B924;
$pequizao04: #DBA921;
$pequizao05: #C5981E;

$laranjinha01: #FF6B52;
$laranjinha02: #FF5B3E;
$laranjinhaPri: #FF4B2B; 
$laranjinha04: #E74527; 
$laranjinha05: #D13D23 ;

$hellboy01: #E05360;
$hellboy02: #DE3E4E;
$hellboyPri: #DB2C3D;
$hellboy04: #C82837;
$hellboy05: #B42431;

$bubbaloo01: #FF4F8B;
$bubbaloo02: #FF3C7D; 
$bubbalooPri: #FF2970;
$bubbaloo04: #E82766;
$bubbaloo05: #D1225C;

$acai01: #A565A5;
$acai02: #9B549B;
$acaiPri: #914391;
$acai04: #843D84;
$acai05: #773777;
